# data
data/
datasets/

# model weights
*.pt
*.pth
*.ckpt

# logs / csv
*.csv
logs/
outputs/

# cache
__pycache__/*
*.pyc

# env
.env
venv/
results/
logs_weight/
final_results/
result_client_pair/
res_T/
.idea/*
.vscode/*
.ipynb_checkpoints/*
checkpoints/*
checkpoint/*
wandb/*
figures/*
logging/*
material_experiment/*
plots/*
FedAVG_CIFAR100_4tasks/*
FedAVG_CIFAR100_5tasks_Resnet34/*
FedAVG_CIFAR100_50tasks/*
client_weights_Vit/*
client_weights_/*


*.pt
*.pth
*.ckpt
*.npy